
.albums .card:hover{
    outline: 5px solid #dfdfe0;
    cursor: pointer;
    transform: scale(1.01);
}

.albums .card:active{
    transform: scale(1.005);
}

.card-text{
    font-size: large;

}

.albums a{
    color: black;
}

